body{
    background-image: url(assets/sky-with-stars.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
}

.header-container {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(assets/tokyo-header.jpg);
    background-size: 600px 200px;
    background-position: top;
    background-repeat: no-repeat;
    height: 90px;
    width: 100%;
    border-bottom: 2px solid rgb(181, 126, 0);
    border-top: 2px solid rgb(181, 126, 0);
}

.page-container{
    display: flex;
    justify-content: center;
    height: 97vh;
    gap: 1rem;
}

.centered-container {
    width: 90%;
    max-width: 600px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.047);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(181, 126, 0);
}

nav a{
    padding: 10px;
    padding-inline: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

nav a:hover{
    background-color: rgba(116, 116, 116, 0.622);
    transition: 0.35s ease;
    cursor: pointer;
}

.body-container {
    height: 65%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

.card{
    width: 150px;
    height: 150px;
    color: white;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid rgb(181, 126, 0);
}

.card:hover{
    background-color: rgba(116, 116, 116, 0.622);
    transition: 0.35s ease;
    cursor: pointer;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 1rem;
    width: 100%;
    height: auto;
    border: 1px white;
}

.content-container{
    width: 45%;
    padding: 10px;
    font-size: 12px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.content-link {
    color: white;
    text-decoration: none;
}

.content-link p{
    height: 60%;
    padding: 5px;
    padding-inline: 5px;
    border-bottom: 2px solid rgb(181, 126, 0);
}

.content-link p:hover{
    background-color: rgba(116, 116, 116, 0.622);
    transition: 0.35s ease;
    cursor: pointer;
}

.content-image-mask {
    width: auto;
    height: 100%;
    overflow: hidden;
}
  
.content-image-mask img {
    width: auto;
    height: auto;
}

.footer-container{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.bio-me{
    width: 100%;
}

.logo-container{
    display: flex;
    flex: row;
    width: 75%;
}

.logo-container img:hover{
    background-color: rgba(116, 116, 116, 0.622);
    transition: 0.35s ease;
    cursor: pointer;
}

.linked-in-logo{
    padding: 10px;
    width: 40%;
}

.itch-io-logo{
    padding: 10px;
    width: 40%;
}

.github-logo{
    padding: 10px;
    width: 25%;
    flex-shrink: 0;
}

.language-container{
    display: flex;
    flex: row;
    width: 18%;
    padding: 6px;
}

.c-sharp-logo{
    padding: 3px;
    width: 100%;
}

.java-logo{
    padding: 3px;
    width: 100%;
}

.blazor-logo{
    padding: 3px;
    width: 100%;
}

.unity-logo{
    padding: 3px;
    width: 100%;
}