body{
    background-color: black;
    height: 100%;
}

.header-container {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(assets/tokyo-header.jpg);
    background-size: 600px 200px;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90px;
    width: 100%;
    border-bottom: 2px solid rgb(181, 126, 0);
    border-top: 2px solid rgb(181, 126, 0);
}

.page-container{
    display: flex;
    justify-content: center;
    height: 97vh;
    gap: 1rem;
}

.centered-container {
    width: 90%;
    max-width: 600px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.622);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(181, 126, 0);
}

nav a{
    padding: 10px;
    padding-inline: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

nav a:hover{
    background-color: rgba(116, 116, 116, 0.622);
    transition: 0.35s ease;
}

.body-container {
    height: 65%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

.content-container{
    color: white;
    font-family: Arial, sans-serif;
    width: 50%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.504);
}

.footer-container{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
}